extends layouts/main-layout

block content
    main.index
        header
            h1
                span STR
                span V
                span CT
            form.clear-store(action='data/clear' method='POST')
                button Clear dataset
        .container
            .tree
            .sunburst
        form.clear-store(action='data/clear' method='POST')
            button Clear dataset
    script(src='/tree.js' defer)