extends layouts/main-layout

block content
    main.index
        header
            h1
                span STR
                span V
                span CT
            form.clear-store(action='data/clear' method='POST')
                button Clear dataset
        .container
            .tree
            .visualisation
        form.clear-store(action='data/clear' method='POST')
            button Clear dataset
        form.graphButtons
            input#sunburst(type='radio' name='graph' checked)
            input#packedcircle(type='radio' name='graph')
            input#forcegraph(type='radio' name='graph')
    script(src='/tree.js' defer)
