extends layouts/main-layout

block content
    main
        .background
        header
            h1
                span STR
                span V
                span CT
        .container
            .tree
            .sunburst
        form.clear-store(action='data/clear' method='POST')
            button Clear dataset
    script(src='/scripts/tree.js' defer)