extends layouts/main-layout

block content
    main.index
        header
            h1
                span STR
                span V
                span CT
            form.clear-store(action='data/clear' method='POST')
                button Clear dataset
        .container
            .tree
            .visualisation
            form.graphButtons
                label
                  input#sunburst(type='radio' name='graph' checked)
                  span Sunburst
                label
                  input#packedcircle(type='radio' name='graph')
                  span Packed circle
                label
                  input#forcegraph(type='radio' name='graph')
                  span Force graph
        form.clear-store(action='data/clear' method='POST')
            button Clear dataset
    script(src='/tree.js' defer)
