extends layouts/main-layout

block content
    main.index
        header
            h1
                span STR
                span V
                span CT
            form.clear-store(action='data/clear' method='POST')
                button Clear dataset
        .container
            .tree
            .visualisation
            form.graphButtons
                input#sunburst(type='radio' name='graph' checked)
                label(for='sunburst') Sunburst
                input#packedcircle(type='radio' name='graph')
                label(for='packedcircle') Packed circle
                input#forcegraph(type='radio' name='graph')
                label(for='forcegraph') Force graph
        form.clear-store(action='data/clear' method='POST')
            button Clear dataset
    script(src='/tree.js' defer)
