extends layouts/main-layout

block content
    main.index
        header
            h1
                span STR
                span V
                span CT
                button Options
                    section.options
                        h3 Accessibility
                        form.accessibility
                            input#red-green(type='radio' name='colorblindness')
                            label(for='red-green') Red - Green Blindness
                            input#blue-yellow(type='radio' name='colorblindness')
                            label(for='blue-yellow') Blue - Yellow Blindness
                            input#total(type='radio' name='colorblindness')
                            label(for='total') Total Color Blindness
                            input#no-blind(type='radio' name='colorblindness' checked)
                            label(for='no-blind') none
                        h3 Graphs & Text
                        form.options
                            label(for="fontsize") Font=Size
                            select#fontsize(name='fontsize')
                                option(value="12") small
                                option(value="16") normal
                                option(value="20") big
                            label(for="levels") # of sublevels
                            select#levels(name='levels')
                                option(value='1') One
                                option(value='2') Two
                                option(value='3') Three
                        
                        h3 Warning!
                        form.clear-store(action='data/clear' method='POST')
                            button Clear Data
        .container
            .tree--container
            .visualisation
            form.graphButtons
                input#sunburst(type='radio' name='graph' checked)
                label(for='sunburst') Sunburst
                input#packedcircle(type='radio' name='graph')
                label(for='packedcircle') Packed circle
                input#forcegraph(type='radio' name='graph')
                label(for='forcegraph') Force graph
    script(src='/tree.js' defer)
