extends layouts/main-layout

block content
    main
        .background
        header
            h1
                span STR
                span V
                span CT
        .container
            section.menu.active
                textarea=JSON.stringify(data)