@import "settings";
main.index {
  background: none;
  display: block;
  header {
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }

  .tree,
  .visualisation {
    background-color: white;
    max-height: 100%;
  }

  .visualisation {
    overflow: hidden;
  }

  .container {
    display: flex;
    height: calc(100vh -3.55em);
    position: absolute;
    top: 3.55em;
  }

  .tree {
    max-height: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, 0.03);
    padding: 0.5em;
    &--container {
      background-color: white;
      position: relative;
      max-width: 30vw;
      overflow: scroll;
      margin: 1em;
    }
  }

  .tree .selected {
    fill: $color-primary;
  }

  form {
    height: initial;
    button {
      color: #c13434;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      transition: 0.5s;
      max-height: 100px;
      font-size: 0.5em;
    }
  }

  .clear-store button:hover {
    color: white;
  }

  .node {
    cursor: pointer;
  }

  .packedcircle .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }

  .packedcircle .node {
    fill: white;
  }

  .packedcircle .label {
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }

  .node--leaf {
    fill: white;
  }

  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }

  .graphButtons {
    position: absolute;
    right: 1em;
    bottom: 1em;
    flex-direction: row;
  }

  .graphButtons input + label {
    border: none;
    position: relative;
    overflow: hidden;
    background: white;
    text-align: center;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  .graphButtons input + label:first-of-type {
    border-radius: 0.5em 0 0 0.5em;
    border-right: none;
  }

  .graphButtons input + label:nth-of-type(3) {
    border-radius: 0 0.5em 0.5em 0;
    border-left: none;
  }

  .graphButtons input + label::before {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }

  .graphButtons input + label:hover {
    background: #f5f5f5;
  }
  .graphButtons input:checked + label:hover {
    background: #d6d6d6;
  }

  .graphButtons input:checked + label {
    background-color: #e0e0e0;
  }

  .graphButtons input:checked + label::before {
    transition: all 0.5s ease-out;
    opacity: 0;
    width: 10em;
    height: 10em;
    margin-top: -5em;
    margin-left: -5em;
  }

  .graphButtons input {
    display: none;
    visibility: hidden;
  }
}
